// Step VR style.scss file

@import url(style-second.css);
@import url(media.css);

$black: #080D14;
$dark-blue: #212E3D;
$h1: #9DB7D6;
$white: #F5F5F5;

$bg: #2E3B49;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Bellota Text', cursive;
  //font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: $white;
  background-color: $bg;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.btn__sm {
  display: block;
  height: 50px;
  width: 125px;
  padding: 10px 20px;
  border: 2px solid $white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 50px;
  font-weight: 700;
  font-size: 25px;

  transition: all .3s linear;

  &:hover {
    background-color: $white;
    color: $bg;
  }
}

.container {
  max-width: 1620px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.intro {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;

  background-image: url(../images/Background.png);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  box-shadow: inset 0px 25px 30px rgba(0, 0, 0, 0.2);

  &::before {
    content: "";
    background-image: url(../images/illustration/LiquidGirl-2.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    right: 0;
    width: 50%;
    height: 100vh;
  }

}

.pattern-1 {
  background-image: url(../images/patterns/Pattern-1.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: 720px;
  right: 0;
  width: 1014px;
  height: 1368px;
}

.pattern-2 {
  background-image: url(../images/patterns/Pattern-2.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: 415px;
  left: 0;
  width: 852px;
  height: 1479px;
}

.pattern-3 {
  background-image: url(../images/patterns/Pattern-3.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: 560px;
  right: 0;
  width: 698px;
  height: 1410px;
  z-index: -1;
}

.pattern-4 {
  background-image: url(../images/patterns/Pattern-4.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: 760px;
  left: 0;
  width: 594px;
  height: 1325px;
  z-index: -1;
}

.pattern-5 {
  background-image: url(../images/patterns/Pattern-5.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: 775px;
  right: 0;
  width: 439px;
  height: 1208px;
  z-index: -1;
}

.pattern-6 {
  background-image: url(../images/patterns/Pattern-6.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: 760px;
  left: 0;
  width: 467px;
  height: 1122px;
  z-index: -1;
}

.pattern-7 {
  background-image: url(../images/patterns/Pattern-7.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: -65px;
  left: 0;
  right: 0;
  width: 1925px;
  height: 1353px;
  z-index: 0;
}

.footer {
  background-image: url(../images/patterns/footer.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: inset 0px 25px 30px rgba(0, 0, 0, 0.2);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 30px;
}

.header__logo-img {
  height: 90px;
}

.header__nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: $white;
  margin-right: 40px;

  transition: all .3s linear;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
  }

  &:hover {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
  }
}

.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang-switcher {
  margin-right: 40px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  padding-right: 13px;
  color: $white;

  &::after {
    content: "";
    display: block;
    width: 7px;
    height: 15px;
    background-image: url(../images/ico/svg/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 70%;
    transform: translateY(-50%);
  }
}

.lang-en {
  display: none;
  position: absolute;
  bottom: -40px;

  &--active {
    display: block;
  }
}

.profile__box {
  display: flex;
  align-items: center;
}

.profile__name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $dark-blue;
}

.profile__image-box {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 20px;
}

.profile__image {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.intro__inner {
  margin-top: 100px;
  width: 100%;
  position: relative;
}

.intro__content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.intro__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  color: $h1;
  margin-bottom: 20px;

  span {
    color: $white;
  }
}

.intro__text {
  margin-bottom: 40px;
}

.intro__text-p {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: $white;
  margin-bottom: 30px;
}

.btn {
  background: $dark-blue;
  box-shadow: 1px 20px 25px -10px #212E3D;
  border-radius: 50px;
  display: block;
  padding: 30px 60px;
  width: 343px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $white;

  transition: all .3s linear;

  &:hover {
    background-color: $white;
    box-shadow: 1px 10px 25px -10px #212E3D;
    color: $bg;
  }
}

.btn__arrow-box {
  position: absolute;
  bottom: 40px;
  right: 55%;
  cursor: pointer;

  &:hover {
    .btn__arrow {
      background-color: $h1;

      &::before {
        background-image: url(../images/ico/svg/arrow-2.svg);
      }
    }

    .btn__arrow-2 {
      background-color: $dark-blue;
    }
  }
}

.btn__arrow {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: $dark-blue;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;

  transition: all .3s linear;

  &::before {
    content: "";
    background-image: url(../images/ico/svg/arrow.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    display: block;
    width: 50px;
    height: 40px;
    position: absolute;
    top: 54%;
    transform: translate(50%, -50%) rotate(30deg);
  }
}

.btn__arrow-2 {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: $h1;
  position: absolute;
  bottom: -9px;
  right: -3px;
  z-index: 10;

  transition: all .3s linear;
}

.intro__image-description {
  position: absolute;
  right: 160px;
  bottom: -25px;
  z-index: 100;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  width: 212px;
  text-align: right;
}

.about__avatars {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
}

.about__avatars-inner {
  display: flex;
  justify-content: space-between;
  padding: 115px 30px 100px 120px;
}

.about__avatars-content {
  width: 680px;
  margin-right: 60px;
}

.about__avatars-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  color: $h1;
  margin-bottom: 100px;

  span {
    color: $white;
  }
}

.about__avatars-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  color: $white;
}

.about__avatars-p {
  margin-bottom: 30px;
}

.about__avatars-description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: right;
  color: $white;
  margin-bottom: 25px;
}

.about__avatars-img {
  box-shadow: 1px 20px 25px -10px #212E3D;
  border-radius: 50px;
  width: 727px;
}

.about__avatars-img__box {
  padding-top: 80px;
}

.why {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
}

.why__inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 115px 30px 100px 120px;
}

.why__content {
  width: 660px;
  margin-right: 50px;
}

.why__content-first,
.why__content-second,
.why__content-third,
.why__content-fourth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
  position: relative;
}

.why__content-first {
  &::before {
    content: "";
    display: block;
    width: 500px;
    height: 500px;
    background-image: url(../images/ico/svg/promotion.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
}

.why__content-second {
  &::before {
    content: "";
    display: block;
    width: 400px;
    height: 400px;
    background-image: url(../images/ico/svg/favorites.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    position: absolute;
    left: -190px;
    top: 75%;
    transform: translateY(-50%);
    z-index: -1;
  }
}

.why__content-third {
  margin-bottom: 0;

  &::before {
    content: "";
    display: block;
    width: 400px;
    height: 400px;
    background-image: url(../images/ico/svg/microphone.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    position: absolute;
    left: -190px;
    top: 75%;
    transform: translateY(-50%);
    z-index: -1;
  }
}

.why__content-fourth {
  &::before {
    content: "";
    display: block;
    width: 500px;
    height: 500px;
    background-image: url(../images/ico/svg/theatre.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
}

.why__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  color: $h1;
  margin-bottom: 50px;

  span {
    color: $white;
  }
}

.why__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: $h1;
  margin-bottom: 15px;
}

.why__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: $white;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.why__content-image-description {
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  color: $white;
  margin-bottom: 10px;
  width: 500px;

  a {
    text-decoration: underline;
  }
}

.why__content-image {
  height: 350px;
  box-shadow: 1px 20px 25px -10px #212E3D;
  border-radius: 50px;
}

.why__content-image__box {
  width: 622px;
  position: relative;
  transform: translateX(-120px);
}

.why__content-image-two {
  width: 260px;
  height: 260px;
  box-shadow: 1px 20px 25px -10px #212E3D;
  border-radius: 50px;
  transform: rotate(-6.19deg);
  z-index: 100;
  position: absolute;
  left: 0;
  bottom: -115px;
}

.why__content-image-three {
  width: 360px;
  box-shadow: 1px 20px 25px -10px #212E3D;
  border-radius: 50px;
  transform: rotate(11.11deg);
  position: absolute;
  right: 0;
  bottom: -115px;
}

.why__content-image-four {
  width: 390px;
  height: 390px;
  box-shadow: 1px 20px 25px -10px #212E3D;
  border-radius: 50px;
  transform: rotate(-8.25deg);
}

.why__content-image-five {
  box-shadow: 1px 20px 25px -10px #212E3D;
  border-radius: 50px;
  height: 520px;
}

.styles {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
}

.styles__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.styles__content {
  display: flex;
  flex-direction: column;
  order: 1;
  width: 810px;
  position: relative;
  margin-right: 220px;

  &::after {
    content: "";
    display: block;
    width: 500px;
    height: 500px;
    background-image: url(../images/ico/svg/theme.svg);
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
}

.styles__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  color: $h1;
  margin-bottom: 50px;

  span {
    color: $white;
  }
}

.styles__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: $h1;
  margin-bottom: 15px;
}

.styles__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: $white;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.styles__item {
  margin-bottom: 50px;
}

.styles__image-description {
  position: absolute;
  left: 30px;
  top: -370px;
  z-index: 100;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  width: 300px;
}

.styles__image-one {
  width: 280px;
  left: 100px;
  top: -285px;
  position: absolute;
  box-shadow: 1px 20px 25px -10px #212E3D;
  border-radius: 50px;
}

.styles__image-two {
  width: 280px;
  position: absolute;
  left: 30px;
  top: 0px;
  box-shadow: 1px 20px 25px -10px #212E3D;
  border-radius: 50px;
}

.styles__image-box {
  position: relative;
}

.video {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
}

.video__inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 115px 30px 100px 120px;
}

.video__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  color: $h1;
  margin-bottom: 50px;

  span {
    color: $white;
  }
}

.video__box-inner {
  position: relative;
  height: 720px;

  &::after {
    content: "";
    display: block;
    width: 350px;
    height: 350px;
    background-image: url(../images/ico/svg/play-button.svg);
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
}

.video__box {
  position: absolute;
  top: 0;
  left: -90px;

  iframe {
    box-shadow: 1px 20px 25px -10px #212E3D;
  }
}

.video__description {
  position: absolute;
  right: -50px;
  bottom: 135px;
  z-index: 100;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  width: 212px;

  a {
    text-decoration: underline;
  }
}

.application {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
}

.application__inner {
  width: 730px;

  &::after {
    content: "";
    display: block;
    width: 350px;
    height: 350px;
    background-image: url(../images/ico/svg/google-forms.svg);
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    left: 810px;
    top: 45%;
    transform: translateY(-50%);
    z-index: -1;
  }
}

.application__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  color: $h1;
  margin-bottom: 50px;

  span {
    color: $white;
  }
}

.application__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: $white;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.application__input {
  width: 730px;
  padding: 30px 60px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $dark-blue;
  border-radius: 50px;
  margin-bottom: 30px;
  background-color: $white;
  border: none;
  box-shadow: 1px 20px 25px -10px #212E3D;

  &:last-child {
    margin-bottom: 0;
  }
}

.application__btn {
  padding: 30px 60px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $white;
  background-color: $dark-blue;
  border-radius: 50px;
  border: none;
  margin-top: 15px;
  box-shadow: 1px 20px 25px -10px #212E3D;
  cursor: pointer;

  transition: all .3s linear;

  &:hover {
    background-color: $white;
    color: $bg;
  }
}

.projects {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
}

.projects__inner {
  display: flex;
  flex-direction: column;
}

.projects__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  color: $h1;
  margin-bottom: 20px;

  span {
    color: $white;
  }
}

.projects__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: $white;
  margin-bottom: 40px;

}

.projects__box {
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    display: block;
    width: 350px;
    height: 350px;
    background-image: url(../images/ico/svg/project.svg);
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    right: 300px;
    top: 45%;
    transform: translateY(-50%);
    z-index: -1;
  }
}

.projects__item {
  width: 350px;
  height: 467px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 30px;
  margin-bottom: 40px;
  border-radius: 50px;
  box-shadow: 1px 20px 25px -10px #212E3D;

  &:last-child {
    margin-right: 0;
  }

  &--1 {
    background-image: url(../images/projects/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
  }

  &--2 {
    background-image: url(../images/projects/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
  }

  &--3 {
    background-image: url(../images/projects/3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
  }

  &--4 {
    background-image: url(../images/projects/4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
  }
}

.project__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: $white;
  margin-bottom: 3px;
}

.project__author {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: $white;
  margin-bottom: 24px;
}

.projects__more {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: $white;
  margin: 0 auto;
}

.projects__title-box {
  margin-left: 200px;
}

.footer__wrapper {
  position: relative;
}

.footer__social-box {
  position: absolute;
  right: 90px;
  top: 220px;
}

.footer__logo {
  width: 300px;
  margin-left: 90px;
  margin-bottom: 70px;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 390px;
}

.footer__social-link {
  margin-bottom: 10px;

  &:nth-child(7),
  &:nth-child(8) {
    margin-top: 20px;
  }
}

.footer__copy-box {
  position: absolute;
  bottom: 30px;
}

.footer__copy-box__inner {
  display: flex;
  align-items: center;
}

.footer__copy {
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  color: $white;
  margin-right: 130px;
}

.footer__menu {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: $white;
  display: flex;
}

.footer__menu-item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}