@import url(style-second.css);
@import url(media.css);
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Bellota Text', cursive;
  font-weight: 400;
  font-size: 25px;
  color: #F5F5F5;
  background-color: #2E3B49;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.btn__sm {
  display: block;
  height: 50px;
  width: 125px;
  padding: 10px 20px;
  border: 2px solid #F5F5F5;
  font-family: 'Montserrat', sans-serif;
  border-radius: 50px;
  font-weight: 700;
  font-size: 25px;
  transition: all .3s linear;
}

.btn__sm:hover {
  background-color: #F5F5F5;
  color: #2E3B49;
}

.container {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 30px;
}

.intro {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  background-image: url(/images/Background.png);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  box-shadow: inset 0px 25px 30px rgba(0, 0, 0, 0.2);
}

.intro::before {
  content: "";
  background-image: url(/images/illustration/LiquidGirl-2.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  right: 0;
  width: 50%;
  height: 100vh;
}

.intro::after {
  content: "";
  background-image: url(/images/patterns/Pattern-1.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: 720px;
  right: 0;
  width: 1014px;
  height: 1368px;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: inset 0px 25px 30px rgba(0, 0, 0, 0.2);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 30px;
}

.header__logo-img {
  height: 90px;
}

.header__nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #F5F5F5;
  margin-right: 40px;
  transition: all .3s linear;
}

.header__nav-link:last-child {
  margin-right: 0;
}

.header__nav-link--active {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.header__nav-link:hover {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang-switcher {
  margin-right: 40px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  padding-right: 13px;
}

.lang-switcher::after {
  content: "";
  display: block;
  width: 7px;
  height: 15px;
  background-image: url(/images/ico/svg/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 70%;
  transform: translateY(-50%);
}

.lang-en {
  display: none;
  position: absolute;
  bottom: -40px;
}

.lang-en--active {
  display: block;
}

.intro__inner {
  margin-top: 100px;
  width: 100%;
  position: relative;
}

.intro__content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.intro__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  color: #9DB7D6;
  margin-bottom: 20px;
}

.intro__title span {
  color: #F5F5F5;
}

.intro__text {
  margin-bottom: 40px;
}

.intro__text-p {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #F5F5F5;
  margin-bottom: 30px;
}

.btn {
  background: #212E3D;
  box-shadow: 1px 20px 25px -10px #212E3D;
  border-radius: 50px;
  display: block;
  padding: 30px 60px;
  width: 343px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #F5F5F5;
  transition: all .3s linear;
}

.btn:hover {
  background-color: #F5F5F5;
  box-shadow: 1px 10px 25px -10px #212E3D;
  color: #2E3B49;
}

.btn__arrow-box {
  position: absolute;
  bottom: 40px;
  right: 55%;
  cursor: pointer;
}

.btn__arrow-box:hover .btn__arrow {
  background-color: #9DB7D6;
}

.btn__arrow-box:hover .btn__arrow::before {
  background-image: url(/images/ico/svg/arrow-2.svg);
}

.btn__arrow-box:hover .btn__arrow-2 {
  background-color: #212E3D;
}

.btn__arrow {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: #212E3D;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  transition: all .3s linear;
}

.btn__arrow::before {
  content: "";
  background-image: url(/images/ico/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  display: block;
  width: 50px;
  height: 40px;
  position: absolute;
  top: 54%;
  transform: translate(50%, -50%) rotate(30deg);
}

.btn__arrow-2 {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: #9DB7D6;
  position: absolute;
  bottom: -9px;
  right: -3px;
  z-index: 10;
  transition: all .3s linear;
}

.intro__image-description {
  position: absolute;
  right: 160px;
  bottom: -25px;
  z-index: 100;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  width: 212px;
  text-align: right;
}
/*# sourceMappingURL=style.css.map */